.payment-modal {
  max-width: 842px;
  &__title {
    font-size: 64px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--main-color);
  }
  &__text {
    font-size: 24px;
    color: var(--gray-color);
  }
  &__content {
    margin-top: 10px;
    text-transform: uppercase;
  }
  &__buttons {
    display: flex;
    gap: 20px;
    margin-top: 30px;
  }
  &__button {
    flex-grow: 1;
    font-size: 36px;
    font-weight: 500;
    border-radius: 15px;
    text-transform: uppercase;
    &--cancel {
      background-color: var(--alert-color);
    }
    &--success {
      background-color: var(--success-color);
    }
  }
}
