.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  animation: fadeIn 0.2s ease-in-out;
}

.modal {
  max-width: 90vw;
  max-height: 90vh;
  padding: 40px;
  animation: slideUp 0.3s ease-out;

  border-radius: 20px;
  background: linear-gradient(270deg, rgba(7.36, 7.36, 7.36, 0.98), rgba(20.43, 20.43, 20.43, 0.98) 100%);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
