.total-price {
  &__title {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--main-color);
    margin-top: 35px;
    margin-bottom: 24px;
  }
  &__controls {
    display: flex;
    gap: 20px;
    font-size: 36px;
    font-weight: 500;
    color: var(--main-color);
  }
  &__card {
    position: relative;
    height: 321px;
    flex: 1 1 0;
    padding: 23px 30px;
    border-radius: 20px;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0%;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: 100% 100%;
    }
    &--cash::after {
      background-image: url("/images/cash-bg.webp");
    }
    &--card::after {
      background-image: url("/images/card-bg.webp");
    }
  }
  &__button {
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 500;
  }
}
