.item {
  padding: 28px 40px;
  border-radius: 20px;

  &__link {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  &__icon {
    width: 30px;
    height: 30px;
  }
  &__name {
    font-size: 36px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--main-color);
  }
}
