.list {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
}

.products {
  display: flex;
  flex-direction: column;
  flex-basis: 1430px;
  gap: 30px;
  &__description {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin-left: 46px;
    color: var(--gray-color);
  }
}
