@font-face {
  font-family: "Halvar Engschrift";
  src: local("Halvar Engschrift Rg"), local("Halvar-Engschrift-Rg"), url("/fonts/HalvarEng-Rg.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Halvar Engschrift";
  src: local("Halvar Engschrift Md"), local("Halvar-Engschrift-Md"), url("/fonts/HalvarEng-Md.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Halvar Engschrift";
  src: local("Halvar Engschrift Bd"), local("Halvar-Engschrift-Bd"), url("/fonts/HalvarEng-Bd.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
