.balance {
  display: flex;
  align-items: center;
  gap: 20px;

  color: var(--main-color);
  font-size: 42px;
  font-weight: 500;

  padding: 16px;
  border-radius: 10px;
  background: linear-gradient(270deg, rgba(217, 217, 217, 0.1), rgba(115, 115, 115, 0) 92.313%);
  &__button {
    max-height: 68px;
    padding: 19px 20px;
    background: var(--secondary-color);
    border-radius: 10px;
    margin-left: 20px;
  }
}
