.range-slider {
  width: 100%;
  height: 20px;
  padding: 0;
  outline: none;
  -webkit-appearance: none;
  appearance: none;
  background: linear-gradient(
    to right,
    var(--accent-color) 0%,
    var(--accent-color) var(--range-value),
    #d3d3d3 var(--range-value),
    #d3d3d3 100%
  );
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 6px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: white;
    border: 3px solid var(--accent-color);
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: -7px;
  }

  &::-moz-range-thumb {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: white;
    border: 3px solid var(--accent-color);
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  &::-webkit-slider-runnable-track {
    background: transparent;
    height: 10px;
    border-radius: 5px;
  }

  &::-moz-range-track {
    background: transparent;
    border: none;
  }

  &::-moz-range-progress {
    background-color: var(--accent-color);
    height: 6px;
    border-radius: 5px;
  }
}
