.card {
  display: flex;
  flex-basis: 344px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  height: 370px;
  border-radius: 20px;

  &__title {
    font-size: 32px;
    font-weight: 500;
    margin-top: 12px;
    color: var(--main-color);
  }
  &__price {
    font-size: 36px;
    font-weight: 500;
    color: var(--green-color);
    &--selected {
      color: var(--accent-color);
    }
  }
  &--selected {
    border: 1px solid var(--accent-color);
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.06) 0%, rgba(153, 153, 153, 0.05) 100%),
      linear-gradient(180deg, rgba(2, 155, 255, 0) 0%, rgba(2, 155, 255, 0.3) 100%);
  }
}
